@model IEnumerable<ADMControl.Dominio.Entidades.Colaborador>;
<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center col-1">Id</th>
            <th class="text-center col-8">Nome</th>
            <th class="text-center col-1">Status</th>
            <th class="text-center col-2">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.COL_ID</td>
                <td class="text-center">@item.COL_NOME</td>
                <td class="text-center">
                    @if(item.COL_ATIVO == true)
                    {
                        <span class="pull-right badge bg-green">Ativo</span>
                    }else
                    {
                        <span class="pull-right badge bg-red">Inativo</span>
                    }
                </td>
                <td class="d-flex justify-content-center">
                    <button type="button" class="btn  btn-warning btn-xs mx-2 w-50" onclick="AbreCadastro(@item.COL_ID)">Editar</button>
                    <button type="button" class="btn  btn-danger btn-xs mx-2 w-50" onclick="ExcluirColaborador(@item.COL_ID)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/Colaborador.js"></script>
}