
*.vsidx
*.vsidx
.vs/ADMControl/FileContentIndex/eac9ba5a-dae1-41ce-b4b9-c7a05ab39bc1.vsidx
.vs/ADMControl/v17/.suo
*.pdb
.vs/ADMControl/FileContentIndex/2e24abc2-4b19-4ca5-8344-399d8e4b76f4.vsidx
.vs/ADMControl/DesignTimeBuild/.dtbcache.v2
.vs/ADMControl/v17/.suo
.vs/ADMControl/v17/fileList.bin
ADMControl.Dominio/obj/Debug/net7.0/ADMControl.Dominio.dll
*.pdb
*.dll
