@model ADMControl.Web.Models.EntradaViewModel
@{
}

<div id="divModalCadastro">
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="row mb-2" style="height:30px">
                    <div class="col-6 d-flex justify-content-start align-content-center">
                        <h3 class="mt-3 ml-3">Entradas</h3>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <div class=" d-flex justify-content-end align-content-center w-100">
                            <button type="button" class="btn  btn-success btn-sm w-50 h-75 m-2" onclick="AbreCadastro()">Adicionar Entrada</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="divListEntrada">
                        @await Html.PartialAsync("PartialListaDatatable", Model.Entradas)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Entrada.js"></script>
}