@model ADMControl.Web.Models.EntradaViewModel


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informações da Unidade</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-warning">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Numero</label>
                                        <input type="text" asp-for="Entrada.ENT_ID" id="Id" class="form-control" hidden>
                                        <input type="text" asp-for="Entrada.ENT_NUMERO" id="Numero" class="form-control" placeholder="Enter ...">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Data</label>
                                        @*<input type="text" asp-for="Entrada.ENT_DATA" id="Data" class="form-control" placeholder="Enter ...">*@
                                        <input type="text" class="form-control datepicker" placeholder="Selecione uma data">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Fornecedor</label>
                                        <input type="text" asp-for="Entrada.ENT_FORNECEDOR" id="Fornecedor" class="form-control" placeholder="Enter ...">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div >
                                        <label>Adicionar Produto</label>
                                        <select asp-for="@Model.FilSelectedProduto" asp-items="@Model.listaProdutos" class="form-control select2" data-toggle="select2" name="FilSelectedProduto" id="FilSelectedProduto"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div>
                                        <label>Qtd.</label>
                                        <input type="text" class="form-control" id="double-input" placeholder="Quantidade">
                                    </div>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-end flex-column">
                                    <button type="button" class="btn btn-primary w-100 mt-2" onclick="AdicionarProduto(@Model.Entrada.ENT_ID)">Adicionar</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
@*                    <div class="card-header">
                        <h3 class="card-title">Produtos</h3>
                    </div>*@
                    <div class="card-body p-1">
                        <div id="divListItens">
                            @await Html.PartialAsync("PartialListaItens", Model.ProdutoxEntradas)
                            @*@await Html.PartialAsync("PartialListaDatatable", Model.Entradas)*@
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btn-entrada">Salvar</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Inicialize o datepicker com o idioma em português
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy', // Formato da data
            language: 'pt-BR', // Idioma em português
            autoclose: true, // Fecha o datepicker ao selecionar uma data
            todayBtn: 'linked', // Botão "Hoje" no datepicker
            todayHighlight: true // Destaca a data atual
        });
        $('#double-input').mask('000.000.000.000.000,00', { reverse: true });
    });
</script>